base1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="biblioteca">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="libro" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[A-Z] {4}-[0-9] {4}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="titulo" type="xs:string" />
                        <xs:element name="autor" type="xs:string" />
                        <xs:element name="año">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="0" />
                                    <xs:maxInclusive value="2026" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="paginas">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="0" />
                                    <xs:maxInclusive value="99999" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="sinopsis" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>